In [17]:
import numpy as np 
import pandas as pd

In [18]:
df = pd.read_csv("drug200.csv")
df.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  drugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  drugY

In [19]:
from sklearn.tree import DecisionTreeClassifier

In [20]:
X = df[['Age', 'Sex', 'BP','Cholesterol','Na_to_K']]
y = df['Drug']

In [21]:
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [25]:
le_sex = LabelEncoder()
le_bp = LabelEncoder()
le_ch = LabelEncoder()
x =pd.DataFrame()
x['Sex'] = le_sex.fit_transform(X['Sex'])
x['BP'] = le_bp.fit_transform(X['BP'])
x['Cholesterol'] = le_ch.fit_transform(X['Cholesterol'])
x['Age'] = X['Age']
x['Na_to_K'] = X['Na_to_K']

In [26]:
x_train, x_test, y_train, y_test  = train_test_split(x,y, test_size=0.4, random_state=42)

In [32]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
model = DecisionTreeClassifier(criterion="gini", max_depth=4)
model.fit(x_train, y_train)
y_pred = model.predict(x_test)
print(accuracy_score(y_pred, y_test))

1.0