In [2]:
import numpy as py
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score
from sklearn.naive_bayes import GaussianNB

In [3]:
df = pd.read_csv("NB_dataset.csv")

In [4]:
df.head()

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket,Title,Family_Size
0,34.5,NaN,Q,7.8292,"Kelly, Mr. James",0,892,3,male,0,NaN,330911,Mr,0
1,47.0,NaN,S,7.0000,"Wilkes, Mrs. James (Ellen Needs)",0,893,3,female,1,NaN,363272,Mrs,1
2,62.0,NaN,Q,9.6875,"Myles, Mr. Thomas Francis",0,894,2,male,0,NaN,240276,Mr,0
3,27.0,NaN,S,8.6625,"Wirz, Mr. Albert",0,895,3,male,0,NaN,315154,Mr,0
4,22.0,NaN,S,12.2875,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",1,896,3,female,1,NaN,3101298,Mrs,2

In [5]:
df1 = df[['Age','Survived']]

In [6]:
df1

      Age  Survived
0    34.5       NaN
1    47.0       NaN
2    62.0       NaN
3    27.0       NaN
4    22.0       NaN
..    ...       ...
413  30.0       NaN
414  39.0       NaN
415  38.5       NaN
416  30.0       NaN
417   4.0       NaN

[418 rows x 2 columns]

In [7]:
df1['Survived_new'] = df1['Survived'].map({"NaN": 0, "": 1})
df1.head()

/var/folders/7r/sc_p7h9s61xbb44_rlc_n9_r0000gn/T/ipykernel_17917/904562314.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Survived_new'] = df1['Survived'].map({"NaN": 0, "": 1})

    Age  Survived  Survived_new
0  34.5       NaN           NaN
1  47.0       NaN           NaN
2  62.0       NaN           NaN
3  27.0       NaN           NaN
4  22.0       NaN           NaN

In [8]:
X_train, X_test, y_train, y_test = train_test_split(df1['Age'], df1['Survived'], test_size =0.7 ,random_state=42)

In [9]:
model = GaussianNB()
model.fit(X_train, y_train)

ValueError: Input y contains NaN.